@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&display=swap');
/* font-family: 'BhuTuka Expanded One', cursive; */


.showContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
#iconContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#iconContainerMusic {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-right: 20%;
  margin-left: 20%;
}
a {
  text-decoration: none;
}
.header {
  font-family: 'Mouse Memoirs', sans-serif;
  overflow: hidden;
  background-color: rgb(224,30,54);
  /* background-color: #f1f1f1; */
  padding: 20px 10px;
  text-align: center;
}
p {
  text-align: center;
  margin-right: 5%;
  margin-left: 5%;
}
span {
  font-size:10px;
  padding:5px 0 10px 0;
  display:block;
  text-transform:uppercase;
  font-family:'Josefin Sans';
  letter-spacing:1px;
  color: black;
}
.imageFile {
  margin-top: 50px;
}
.bandImages {
  /* width: 100vw; */
  height: auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

.imgCarouselText {
  color: black;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  font-family: 'Mouse Memoirs', sans-serif;
}
.urlImg {
  width: 300px;
  max-width:280px;
  margin: 10px;
}
#Card {
  text-align: center;
  box-shadow: 10px 10px rgb(0, 0, 0);
}
.musicContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.videosContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 20px;
  margin-top: 30px;
  text-align: center;
}
#smallMusicContainer {
  width: 500px;
  height: 300px;
  background: pink;
}
#loginForm {
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
}
#title {
  text-align: center;
  font-family: 'Mouse Memoirs', sans-serif;
  margin-top: 35px;
}
#imagesH1 {
  text-align: center;
  font-family: 'Mouse Memoirs', sans-serif;
  margin-top: 35px;
  margin-bottom: 25px;
}
#merchH1 {
  text-align: center;
  font-family: 'Mouse Memoirs', sans-serif;
  margin-top: 35px;
}
#h1HomeMain {
  text-align: center;
  color: rgb(3, 3, 3);
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  font-size: 70px;
  font-family: 'Mouse Memoirs', sans-serif;
}
#h1Home {
  text-align: center;
  color: rgb(3, 3, 3);
	-webkit-text-stroke: 1px rgb(255, 255, 255);
  font-size: 40px;
  font-family: 'Mouse Memoirs', sans-serif;
}
.carousel-item {
  justify-content: center;
}
.containerAdd {
  background:rgb(33, 33, 33);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#AddButton {
  margin: 15px;
}
#homeBackground {
  min-height: 100vh;
  height: auto;
  width: 100%;
  background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#merchBackground {
  min-height: 100vh;
  height: auto;
  width: 100%;
  background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}
#showsBackground {
  position: static;
  min-height: 100vh;
  height: auto;
  width: 100%;
  background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#homeBackground {
  min-height: 100vh;
  height: auto;
  width: 100%;
  background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#musicBackground {
  min-height: 100vh;
  height: auto;
  width: 100%;
  background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#textColor {
  color:rgb(168, 62, 83);
}
.modal-body, .modal-header, .modal-footer {
  background-color: #272727 ;
}
.modal-title {
  color: white;
  text-align: center;
}
li {
  font-size: 10px;
}
ul {
  list-style-type: none;
  text-align: center;
}
.mapsApi {
  width: 100%;
  height: 100%;
}
#memberName {
  font-size: 60px;
}
#memberInfo {
  font-size: 25px;
  font-family: 'Mouse Memoirs', sans-serif;
  margin: 15px;
  text-align: center;
}
/* ================= GRID /ABOUT ================= */
.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1.5fr 0.5fr 1.5fr 0.5fr 1.5fr 0.5fr 1.5fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-auto-flow: row;
  grid-template-areas:
    "member1 member1 member1"
    "bandMateImg1 bandMateAbout1 bandMateAbout1"
    "member2 member2 member2"
    "bandMateAbout2 bandMateAbout2 bandMateImg2"
    "member3 member3 member3"
    "bandMateImg3 bandMateAbout3 bandMateAbout3"
    "member4 member4 member4"
    "bandMateAbout4 bandMateAbout4 bandMateImg4";
}

.bandMateImg1 { 
  grid-area: bandMateImg1;
  margin-bottom: 30px;
}

.bandMateImg2 { 
  grid-area: bandMateImg2; 
  margin-bottom: 30px;
}

.bandMateImg3 { 
  grid-area: bandMateImg3; 
  margin-bottom: 30px;
}

.bandMateImg4 { 
  grid-area: bandMateImg4; 
  margin-bottom: 30px;
}

.member1 { 
  grid-area: member1; 
  margin-top: 25px;
  margin-bottom: 5px;
  font-family: 'Mouse Memoirs', sans-serif;
  text-align: center;
  align-self: flex-end;
  color:rgb(90, 34, 45);
}
.member2 { 
  grid-area: member2; 
  margin-top: 25px;
  margin-bottom: 5px;
  font-family: 'Mouse Memoirs', sans-serif;
  text-align: center;
  align-self: flex-end;
  color:rgb(90, 34, 45);
}

.member3 { 
  grid-area: member3;
  margin-top: 25px;
  margin-bottom: 5px;
  font-family: 'Mouse Memoirs', sans-serif;
  text-align: center;
  align-self: flex-end;
  color:rgb(90, 34, 45);
}

.member4 { 
  grid-area: member4; 
  margin-top: 25px;
  margin-bottom: 5px;
  font-family: 'Mouse Memoirs', sans-serif;;
  text-align: center;
  align-self: flex-end;
  color:rgb(90, 34, 45);
}

.bandMateAbout1 { 
  grid-area: bandMateAbout1; 
  margin-bottom: 30px;
  background: #272727;
  color: white;
  display: flex;
  justify-content: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.bandMateAbout2 { 
  grid-area: bandMateAbout2; 
  margin-bottom: 30px;
  background: #272727;
  color: white;
  display: flex;
  justify-content: center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.bandMateAbout3 { 
  grid-area: bandMateAbout3; 
  margin-bottom: 30px;
  background: #272727;
  color: white;
  display: flex;
  justify-content: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.bandMateAbout4 { 
  grid-area: bandMateAbout4; 
  margin-bottom: 30px;
  background: #272727;
  color: white;
  display: flex;
  justify-content: center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
#memberInfo {
  align-self: center;
}
#FaFacebookSquare {
  margin: 8px;
  color: black;
}
#FaFacebookSquare:hover {
  color: blue;
  transform: translateY(-3px);
}
#FaYoutube {
  margin: 8px;
  color: black;
}
#FaYoutube:hover {
  color: rgb(255, 0, 0);
  transform: translateY(-3px);
}
#SiItunes {
  margin: 8px;
  color: black;
}
#SiItunes:hover {
  background: rgb(250,88,106);
  color: rgb(255, 255, 255);
  transform: translateY(-3px);
  border-radius: 20px;
}
#FaSpotify {
  margin: 8px;
  color: black;
}
#FaSpotify:hover {
  color: rgb(28,215,96);
  transform: translateY(-3px);
  background: black;
  border-radius: 20px;
}
#GiAudioCassette {
  margin: 8px;
  color: black;
}
#GiAudioCassette:hover {
  color: rgb(177, 172, 172);
  transform: translateY(-3px);
}
#FaInstagram {
  margin: 8px;
  color: black;
}
#FaInstagram:hover {
  transform: translateY(-3px);
  animation: color-shift3 .6s infinite;
}
@keyframes color-shift3 {
  0% {
      color: rgb(147, 12, 250);
  }
  33% {
      color: rgb(208, 61, 3);
  }
  66% {
      color: rgb(255, 217, 0);
  }
  100% {
      color: #ed5cd8;
  }
}
/* ================= Media Screens ================= */
@media only screen and (min-device-width: 576px) and (max-device-width: 767px) {
  .container {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .2fr 1fr 1fr .2fr 1fr 1fr .2fr 1fr 1fr .2fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-auto-flow: column;
    grid-template-areas:
      "member1"
      "bandMateImg1"
      "bandMateAbout1"
      "member2"
      "bandMateImg2"
      "bandMateAbout2"
      "member3"
      "bandMateImg3"
      "bandMateAbout3"
      "member4"
      "bandMateImg4"
      "bandMateAbout4"
  }
  .bandMateAbout1 { 
    grid-area: bandMateAbout1; 
    margin-bottom: 30px;
    background: #272727;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 15px;
  }
  
  .bandMateAbout2 { 
    grid-area: bandMateAbout2; 
    margin-bottom: 30px;
    background: #272727;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 15px;
  }
  
  .bandMateAbout3 { 
    grid-area: bandMateAbout3; 
    margin-bottom: 30px;
    background: #272727;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 15px;
  }
  
  .bandMateAbout4 { 
    grid-area: bandMateAbout4; 
    margin-bottom: 30px;
    background: #272727;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 15px;
  }
  .member2 { 
    grid-area: member2; 
    /* margin-top: 25px; */
    margin-bottom: 5px;
    font-family: 'Mouse Memoirs', sans-serif;
    text-align: center;
    align-self: flex-end;
    color:rgb(90, 34, 45);
  }
  
  .member3 { 
    grid-area: member3;
    /* margin-top: 25px; */
    margin-bottom: 5px;
    font-family: 'Mouse Memoirs', sans-serif;
    text-align: center;
    align-self: flex-end;
    color:rgb(90, 34, 45);
  }
  
  .member4 { 
    grid-area: member4; 
    /* margin-top: 25px; */
    margin-bottom: 5px;
    font-family: 'Mouse Memoirs', sans-serif;
    text-align: center;
    align-self: flex-end;
    color:rgb(90, 34, 45);
  }
  #FaFacebookSquare {
    margin: 8px;
    color: blue;
    background: white;
    border-radius: 5px;
  }
  #FaYoutube {
    margin: 8px;
    color: rgb(255, 0, 0);
    background: white;
    border-radius: 5px;
  }
  #SiItunes {
    margin: 8px;
    background: rgb(250,88,106);
    color: rgb(255, 255, 255);
    border-radius: 20px;
  }
  #FaSpotify {
    margin: 8px;
    color: rgb(28,215,96);
    background: black;
    border-radius: 20px;
  }
  #GiAudioCassette {
    margin: 8px;
    color: rgb(102, 241, 250);
  }
  #FaInstagram {
    margin: 8px;
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    color: white; 
    border-radius: 5px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 575px) {
  .container {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .2fr 1fr 1fr .2fr 1fr 1fr .2fr 1fr 1fr .2fr 1fr 1fr;
    grid-auto-flow: row;
    grid-template-areas:
      "member1"
      "bandMateImg1"
      "bandMateAbout1"
      "member2"
      "bandMateImg2"
      "bandMateAbout2"
      "member3"
      "bandMateImg3"
      "bandMateAbout3"
      "member4"
      "bandMateImg4"
      "bandMateAbout4"
  }
  .bandMateAbout1 { 
    grid-area: bandMateAbout1; 
    margin-bottom: 30px;
    background: #272727;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 15px;
  }
  
  .bandMateAbout2 { 
    grid-area: bandMateAbout2; 
    margin-bottom: 30px;
    background: #272727;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 15px;
  }
  
  .bandMateAbout3 { 
    grid-area: bandMateAbout3; 
    margin-bottom: 30px;
    background: #272727;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 15px;
  }
  
  .bandMateAbout4 { 
    grid-area: bandMateAbout4; 
    margin-bottom: 30px;
    background: #272727;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 15px;
  }
  #FaFacebookSquare {
    margin: 8px;
    color: blue;
    background: white;
    border-radius: 5px;
  }
  #FaYoutube {
    margin: 8px;
    color: rgb(255, 0, 0);
    background: white;
    border-radius: 5px;
  }
  #SiItunes {
    margin: 8px;
    background: rgb(250,88,106);
    color: rgb(255, 255, 255);
    border-radius: 20px;
  }
  #FaSpotify {
    margin: 8px;
    color: rgb(28,215,96);
    background: black;
    border-radius: 20px;
  }
  #GiAudioCassette {
    margin: 8px;
    color: rgb(102, 241, 250);
  }
  #FaInstagram {
    margin: 8px;
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    color: white;
    border-radius: 5px;
  }
  .imgCarouselText {
    display: none;
  }
}