@font-face {
  font-family: Rock it;
  src: url(https://www.1001fonts.com/rock-it-font.html);
}
.showContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.imageFile {
  margin-top: 50px
}
.bandImages {
  /* width: 100vw; */
  height: auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}
.urlImg {
  width: 300px;
  max-width:280px;
  margin: 10px
}
#Card {
  text-align: center;
  /* border-radius: 25px; */
  box-shadow: 10px 10px rgb(0, 0, 0);
}
.musicContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.videosContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 20px;
  margin-top: 30px;
  text-align: center;
}
#smallMusicContainer {
  width: 500px;
  height: 300px;
  background: pink;
}
#loginForm {
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
}
#title {
  text-align: center;
  font-family: Rock it;
  margin-top: 35px;
}
#imagesH1 {
  text-align: center;
  font-family: Rock it;
  margin-top: 35px;
  margin-bottom: 25px;
}
#merchH1 {
  text-align: center;
  font-family: Rock it;
  margin-top: 35px;
}
#h1Home {
  text-align: center;
  color: rgb(3, 3, 3);
  font-family: Rock it;
}
.carousel-item {
  justify-content: center;
}
.containerAdd {
  background:rgb(33, 33, 33);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#AddButton {
  margin: 15px;
}
#homeBackground {
  min-height: 100vh;
  height: auto;
  width: 100%;
  background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#merchBackground {
  min-height: 100vh;
  height: auto;
  width: 100%;
  background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}
#showsBackground {
  position: static;
  min-height: 100vh;
  height: auto;
  width: 100%;
  background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#homeBackground {
  min-height: 100vh;
  height: auto;
  width: 100%;
  background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#musicBackground {
  min-height: 100vh;
  height: auto;
  width: 100%;
  background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#textColor {
  color:rgb(201, 66, 93);
}
.modal-body, .modal-header, .modal-footer {
  background-color: #272727 ;
}
.modal-title {
  color: white;
  text-align: center;
}
li {
  font-size: 10px;
}
ul {
  list-style-type: none;
  text-align: center;
}
.mapsApi {
  width: 100%;
  height: 100%;
}
/* ================= GRID /ABOUT ================= */
.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1.5fr 0.5fr 1.5fr 0.5fr 1.5fr 0.5fr 1.5fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  /* gap: 20px 0px; */
  grid-auto-flow: roww;
  grid-template-areas:
    "member1 member1 member1"
    "bandMateImg1 bandMateAbout1 bandMateAbout1"
    "member2 member2 member2"
    "bandMateAbout2 bandMateAbout2 bandMateImg2"
    "member3 member3 member3"
    "bandMateImg3 bandMateAbout3 bandMateAbout3"
    "member4 member4 member4"
    "bandMateAbout4 bandMateAbout4 bandMateImg4";
}

.bandMateImg1 { 
  grid-area: bandMateImg1;
  margin-bottom: 30px;
}

.bandMateImg2 { 
  grid-area: bandMateImg2; 
  margin-bottom: 30px;
}

.bandMateImg3 { 
  grid-area: bandMateImg3; 
  margin-bottom: 30px;
}

.bandMateImg4 { 
  grid-area: bandMateImg4; 
  margin-bottom: 30px;
}

.member1 { 
  grid-area: member1; 
  margin-top: 25px;
  margin-bottom: 5px;
  font-family: Rock it;
  text-align: center;
  align-self: flex-end;
  color:rgb(90, 34, 45);
}
.member2 { 
  grid-area: member2; 
  margin-top: 25px;
  margin-bottom: 5px;
  font-family: Rock it;
  text-align: center;
  align-self: flex-end;
  color:rgb(90, 34, 45);
}

.member3 { 
  grid-area: member3;
  margin-top: 25px;
  margin-bottom: 5px;
  font-family: Rock it;
  text-align: center;
  align-self: flex-end;
  color:rgb(90, 34, 45);
}

.member4 { 
  grid-area: member4; 
  margin-top: 25px;
  margin-bottom: 5px;
  font-family: Rock it;
  text-align: center;
  align-self: flex-end;
  color:rgb(90, 34, 45);
}

.bandMateAbout1 { 
  grid-area: bandMateAbout1; 
  margin-bottom: 30px;
  background: #272727;
  color: white;
  display: flex;
  justify-content: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.bandMateAbout2 { 
  grid-area: bandMateAbout2; 
  margin-bottom: 30px;
  background: #272727;
  color: white;
  display: flex;
  justify-content: center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.bandMateAbout3 { 
  grid-area: bandMateAbout3; 
  margin-bottom: 30px;
  background: #272727;
  color: white;
  display: flex;
  justify-content: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.bandMateAbout4 { 
  grid-area: bandMateAbout4; 
  margin-bottom: 30px;
  background: #272727;
  color: white;
  display: flex;
  justify-content: center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
#memberInfo {
  align-self: center;
}


/* ================= Media Screens ================= */
@media only screen and (min-device-width: 576px) and (max-device-width: 767px) {
  .container {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .2fr 1fr 1fr .2fr 1fr 1fr .2fr 1fr 1fr .2fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-auto-flow: column;
    grid-template-areas:
      "member1"
      "bandMateImg1"
      "bandMateAbout1"
      "member2"
      "bandMateImg2"
      "bandMateAbout2"
      "member3"
      "bandMateImg3"
      "bandMateAbout3"
      "member4"
      "bandMateImg4"
      "bandMateAbout4"
  }
  .bandMateAbout1 { 
    grid-area: bandMateAbout1; 
    margin-bottom: 30px;
    background: #272727;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 15px;
  }
  
  .bandMateAbout2 { 
    grid-area: bandMateAbout2; 
    margin-bottom: 30px;
    background: #272727;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 15px;
  }
  
  .bandMateAbout3 { 
    grid-area: bandMateAbout3; 
    margin-bottom: 30px;
    background: #272727;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 15px;
  }
  
  .bandMateAbout4 { 
    grid-area: bandMateAbout4; 
    margin-bottom: 30px;
    background: #272727;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 15px;
  }
  .member2 { 
    grid-area: member2; 
    /* margin-top: 25px; */
    margin-bottom: 5px;
    font-family: Rock it;
    text-align: center;
    align-self: flex-end;
    color:rgb(90, 34, 45);
  }
  
  .member3 { 
    grid-area: member3;
    /* margin-top: 25px; */
    margin-bottom: 5px;
    font-family: Rock it;
    text-align: center;
    align-self: flex-end;
    color:rgb(90, 34, 45);
  }
  
  .member4 { 
    grid-area: member4; 
    /* margin-top: 25px; */
    margin-bottom: 5px;
    font-family: Rock it;
    text-align: center;
    align-self: flex-end;
    color:rgb(90, 34, 45);
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 575px) {
  .container {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .2fr 1fr 1fr .2fr 1fr 1fr .2fr 1fr 1fr .2fr 1fr 1fr;
    grid-auto-flow: row;
    grid-template-areas:
      "member1"
      "bandMateImg1"
      "bandMateAbout1"
      "member2"
      "bandMateImg2"
      "bandMateAbout2"
      "member3"
      "bandMateImg3"
      "bandMateAbout3"
      "member4"
      "bandMateImg4"
      "bandMateAbout4"
  }
  .bandMateAbout1 { 
    grid-area: bandMateAbout1; 
    margin-bottom: 30px;
    background: #272727;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 15px;
  }
  
  .bandMateAbout2 { 
    grid-area: bandMateAbout2; 
    margin-bottom: 30px;
    background: #272727;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 15px;
  }
  
  .bandMateAbout3 { 
    grid-area: bandMateAbout3; 
    margin-bottom: 30px;
    background: #272727;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 15px;
  }
  
  .bandMateAbout4 { 
    grid-area: bandMateAbout4; 
    margin-bottom: 30px;
    background: #272727;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 15px;
  }
}